$font-family-main: "Mont", arial, helvetica, sans-serif;

$color-primary: #313237;
$color-secondary: #89939a;
$color-icons: #b4bdc3;
$color-elements: #e2e6e9;
$color-white: #fff;
$color-grey: #b4bdc41c;
$color-hover: #363636;
