@import "../../styles/main.scss";

.filter {
  transition: all 0.5s;
}

.option {
  &__title {
    margin-bottom: 8px;
  }
}

.trigger {
  &__button {
    display: flex;
    justify-content: space-between;
    width: 224px;
  }
}

.dropdown-content {
  overflow-y: scroll;
  max-height: 140px;

  @include onDesktop {
    overflow: auto;
    max-height: 400px;
  }
}
