@import "../../styles/main.scss";

.error-notification {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  padding-top: 40px;

  @extend %big-text;
  text-align: center;
  color: $color-primary;
}
